<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射到ActivityDirectoryMapper接口,namespce是mapper接口的权限定名-->
<mapper namespace="cn.itcast.jk.mapper.CraftsmanDomainMapper">
    <!-- resultMap映射 -->
    <resultMap type="cn.itcast.jk.domain.CraftsmanDomain" id="craftsmanDomainRM">
        <!-- 主键 -->
        <id property="id" column="id"/>
        <!-- 一般属性  property:pojo的属性名  column：表的列名-->
        <result property="domainName" column="domain_name"/>
    </resultMap>

    <select id="selectCraftsmanDomain"  resultMap="craftsmanDomainRM">
      select * from craftsman_domain
    </select>

</mapper>